apiVersion: v1 
kind: Service 
metadata: 
      name: nginx-lb 
      labels: 
          purpose: nginx-lb-demo 
spec: 
   type: LoadBalancer 
   selector: 
      purpose: deployment-demo 
      project: roboshop 
      app: nginx 
   ports: 
   - protocol: TCP 
     port: 80 # service port 
     targetPort: {{ .Values.service.targetport }}           